{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% block title %}Reset Password{% endblock %}

{% block content %}
<h1 class="row justify-content-center p-4">Reset password</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <p class="text-center"> Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one. </p>
        <form autocomplete="off" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Reset my password</button>
            <a href="{% url 'cabinet' %}" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}