{% extends "base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% block title %}Reset password{% endblock %}

{% block content %}
<h1 class="row justify-content-center p-4">Reset password</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <form autocomplete="off" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="container ">
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </div>
            <div class="container p-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'cabinet' %}" type="submit" class="btn btn-primary">Cancel</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}