{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Photo{% endblock %}

{% block content %}
<h1 class="row justify-content-center p-4">Photo</h1>
<div class="row justify-content-center">
    <div class="col-4">
        <form autocomplete="off" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'cabinet' %}" type="submit" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}